<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Page</title>

	<!-- Google font -->
	<link href="http://fonts.googleapis.com/css?family=Playfair+Display:900" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Alice:400,700" rel="stylesheet" type="text/css" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/book.css" />
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	
	<div id="booking" class="section">
		<div class="cancelbooking1"><a href="/home" ><button class="submit-cancel">Go to Home</button></a></div>
		<div class="cancelbooking"><a href="/cancelbook" ><button class="submit-cancel">Cancel Booking</button></a></div>
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="booking-bg">
							<div class="form-header">
								<h2>Make your reservation</h2>
								<p><b>Take your game to the next level, book your slot today!
									
								</b></p>
							</div>
						</div>
						<form id='confirmbook'>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label"><b>Date</b></span>
										<input class="form-control" id="datefield" name="date" type="date" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label"><b>Time</b></span>
					
										<select class="form-control" id="timefield" name="time" required>
											<option value="9-10am">9:00-10:00 am</option>
											<option value="10-11am">10:00-11:00 am</option>
											<option value="11-12pm">11:00 am-12:00 pm</option>
											<option value="12-13pm">12:00-1:00 pm</option>
											<option value="13-14pm">1:00-2:00 pm</option>
											<option value="14-15pm">2:00-3:00 pm</option>
											<option value="15-16pm">3:00-4:00 pm</option>
											<option value="16-17pm">4:00-5:00 pm</option>
											<option value="17-18pm">5:00-6:00 pm</option>
											<option value="18-19pm">6:00-7:00 pm</option>
											<option value="20-21pm">7:00-8:00 pm</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label" ><b>Adults</b></span>
										<select class="form-control" name="adults">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label"><b>Children</b></span>
										<select class="form-control" name="children">
											<option>0</option>
											<option>1</option>
											<option>2</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<span class="form-label"><b>Game Type</b></span>
								<select class="form-control" name="game" required>
									<option value="" selected hidden>Select game type</option>
									<option>Indoor game</option>
									<option>Outdoor game</option>
								</select>
								<span class="select-arrow"></span>
							</div>
							<div class="form-btn">
								<input class="submit-btn" type="submit" value="Check availability"  >
								<!-- <button class="submit-btn">Check availability</button> -->
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		window.addEventListener('load',function(){
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth() + 1; //January is 0!
			if(mm==12){
				var mm1= 1;
			}
			else{
				var mm1= mm+1;
			}
			
			var yyyy = today.getFullYear();

			if (dd < 10) {
			dd = '0' + dd;
			}

			if (mm < 10) {
			mm = '0' + mm;
			} 
			if (mm1 < 10) {
			mm1 = '0' + mm1;
			} 
				
			today = yyyy + '-' + mm + '-' + dd;
			booktill=yyyy + '-' + mm1 + '-' + dd;
			document.getElementById("datefield").setAttribute("min", today);
			document.getElementById("datefield").setAttribute("max", booktill); 
			
		});
		function submit(){
			
			var time=document.getElementById("timefield").value;
			var date=document.getElementById("datefield").value;
			var starttime=time.substring(0, time.indexOf("-"));
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth() + 1;
			var yyyy = today.getFullYear();
			if (dd < 10) {
			dd = '0' + dd;
			}

			if (mm < 10) {
			mm = '0' + mm;
			} 
			today_date = yyyy + '-' + mm + '-' + dd;
			var currenthr=today.getHours();
		
	
			
			if(date==today_date){

				if( currenthr>= 20){
				alert("Booking for today has been closed!")
				console.log("Booking for today has been closed!")
				return false
				}
				else{
					if(starttime>currenthr){
						console.log("Booked!")
						return true
					}
					else{
						alert("Booking for this time slot has been closed!")
						console.log("Booking for this time slot has been closed!")
						return false
						
					}
			   }
			}
			else{
				console.log("abc")
				return true
			}
		

		}
        $("#confirmbook").submit(function(e) {
			
			

			e.preventDefault(); 

			var form = $(this);

            if(submit()){
			$.ajax({
				type: "POST",
				url: '/booking',
				data: form.serialize(), 
				success: function(data)
				{
				alert(data); 
				location.reload();
				
				}
			});
		}

        });

		
		
		 
		
		
  
	  </script>
</body>

</html>