<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Cancel Booking Page</title>

	<!-- Google font -->
	<link href="http://fonts.googleapis.com/css?family=Playfair+Display:900" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Alice:400,700" rel="stylesheet" type="text/css" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/book.css" />
</head>
<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="booking-bg">
							<div class="form-header">
								<h2>Cancel your reservation</h2>
								<p><b>Change of plans ? No problem! Cancel your reservation hassle-free .</b></p>
							</div>
						</div>
						<form>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label"><b>Date</b></span>
										<input class="form-control" id="datefield" type="date" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label"><b>Time</b></span>
					
										<select class="form-control" required>
											<option value="9-10am">9:00-10:00 am</option>
											<option value="10-11am">10:00-11:00 am</option>
											<option value="11am-12pm">11:00 am-12:00 pm</option>
											<option value="12-1pm">12:00-1:00 pm</option>
											<option value="1-2pm">1:00-2:00 pm</option>
											<option value="2-3pm">2:00-3:00 pm</option>
											<option value="3-4pm">3:00-4:00 pm</option>
											<option value="4-5pm">4:00-5:00 pm</option>
											<option value="5-6pm">5:00-6:00 pm</option>
											<option value="6-7pm">6:00-7:00 pm</option>
											<option value="7-8pm">7:00-8:00 pm</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
							</div>
							<div class="form-btn">
                                <input class="submit-btn" type="submit" value="Cancel booking" >
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script>

		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth() + 1; //January is 0!
		if(mm==12){
			var mm1= 1;
		}
		else{
			var mm1= mm+1;
		}
		
		var yyyy = today.getFullYear();

		if (dd < 10) {
		dd = '0' + dd;
		}

		if (mm < 10) {
		mm = '0' + mm;
		} 
		if (mm1 < 10) {
		mm1 = '0' + mm1;
		} 
			
		today = yyyy + '-' + mm + '-' + dd;
		booktill=yyyy + '-' + mm1 + '-' + dd;
		document.getElementById("datefield").setAttribute("min", today);
		document.getElementById("datefield").setAttribute("max", booktill);  
		 
  
	  </script>
</body>
</html>