<!DOCTYPE html>
 <html class="no-js" lang="en"> 
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- CSS Bootstrap & Custom -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/templatemo-misc.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/templatemo-main.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
        
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    
    <!-- JavaScripts -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/modernizr.js"></script>
</head>
<body>
    
    <div id="home">
        <div class="site-header">
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="left-header">
                                <span><i class="fa fa-phone"></i>080 080 0990</span>
                                <span><i class="fa fa-envelope"></i>info@sportclub.com</span>
                            </div> <!-- /.left-header -->
                        </div> <!-- /.col-md-6 -->
                        <div class="col-md-6 col-sm-6">
                            <div class="right-header text-right">
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/mpstme/?hl=en" class="fa fa-facebook"></a></li>
                                    <li><a href="https://www.instagram.com/mpstme/?hl=en" class="fa fa-instagram"></a></li>
                                    <li><a href="https://twitter.com/nmims_mpstme?lang=en" class="fa fa-twitter"></a></li>
                                    <li><a href="https://g.co/kgs/PYVx5d" class="fa fa-google-plus"></a></li>
                                </ul>
                            </div> <!-- /.left-header -->
                        </div> <!-- /.col-md-6 -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.top-header -->
            <div class="main-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">

                             
                            <div class="logo hidden-sm hidden-xs">
                                <div class="container">
                                    <div class="row">
                                      <div class="col-sm-4">
                                        <a href="/logout" ><button class="dropbtn" type="button" >Logout
                                        </button></a>
                                      </div>
                                      <div class="col-sm-8">
                                        <h1>S&middot;P&middot;O&middot;R&middot;T</h1>
                                      </div>     
                                    </div>
                                  </div>
                                <!-- <a href="/logout" ><button class="dropbtn" type="button" >Logout
                                </button></a>     
                              <h1>S&middot;P&middot;O&middot;R&middot;T</h1>   -->
                            </div> <!-- /.logo -->
                            <div class="responsive-logo visible-xs visible-sm">
                                
                                <h1>S&middot;P&middot;O&middot;R&middot;T</h1>
                                
                            </div>
                        </div> <!-- /.col-md-4 -->
                        <div class="col-md-8 col-sm-8 col-xs-6">
                            <div class="menu text-right hidden-sm hidden-xs">
                                <ul>
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#services">Facilities</a></li>
                                    <li><a href="#portfolio">Gallery</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                    <!-- <li>
                                        <div class="dropdown">
                                        <button onclick="myFunction()" class="dropbtn">Book Now!</button>
                                        <div id="myDropdown" class="dropdown-content">
                                          <a href="">Cricket</a>
                                          <a href="">Basketball</a>
                                          <a href="">Carrom</a>
                                          <a href="">Table Tennis</a>
                                        </div>
                                      </div>
                                    </li> -->
                                    <li>
                                        <div class="dropdown">
                                            
                                            <button class="dropbtn dropdown-toggle" type="button" data-toggle="dropdown" >Book Now!
                                            </button>
                                            <div class="dropdown-menu dropdown-content">
                                              <a href="/indoorgames" onclick="location.href = '/indoorgames';">Indoor</a>
                                              <a href="/outdoorgames" onclick="location.href = '/outdoorgames';">Outdoor</a>
                                    
                                              <!-- <a href="http://google.com/" onclick="location.replace('http://google.com/'),'_top'">Google</a> -->
                                            </div>
                                          </div>
                                    </li>
                                    
                                
                                </ul>
                            </div> <!-- /.menu -->
                        </div> <!-- /.col-md-8 -->
                    </div> <!-- /.row -->
                    <div class="responsive-menu text-right visible-xs visible-sm">
                        <a href="/logout" >Logout
                        </a>
                        <div class="dropdown">
                            <button class="dropbtn dropdown-toggle" type="button" data-toggle="dropdown">Book!
                            </button>
                            <div class="dropdown-menu dropdown-content">
                                <a href="/indoorgames" onclick="location.href = '/indoorgames';">Indoor</a>
                                <a href="/outdoorgames" onclick="location.href = '/outdoorgames';">Outdoor</a>
                        
                              </div>
                          </div>
                        
                        <a href="#" class="toggle-menu fa fa-bars"></a>
                        <div class="menu">
                            <ul>
                                <li><a href="#home">Home</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                                
                            </ul>
                        </div> <!-- /.menu -->
                        
                    </div> <!-- /.responsive-menu -->
                </div> <!-- /.container -->
            </div> <!-- /.header -->
        </div> <!-- /.site-header -->
    </div> <!-- /#home -->

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="images/club.jpeg" alt="club" class="carousalimg">
                <div class="flex-caption">
                    <h2>Welcome Forward</h2>
                    <span></span>
                    <p>Here, an effort has been made to provide world-class facilities <br>and infrastructure for the promotion of sports and health.
                    </p>
                </div>
            </li>
            <li>
                <img src="images/club1.jpg" alt="gym" class="carousalimg">
                <div class="flex-caption">
                    <h2>Spacious Gym</h2>
                    <span></span>
                    <p>Our internationally certified gym trainers help accomplish <br>your fitness and weight loss goals, quicker!</p>
                </div>
            </li>
            <li>
                <img src="images/club2.jpeg" alt="swimming pool" class="carousalimg">
                <div class="flex-caption">
                    <h2>Delectable Cafeteria</h2>
                    <span></span>
                    <p>To soothe the taste buds of the members,<br> the club also has a delightful multi-cuisine restaurant!</p>
                </div>
            </li>
        </ul>
    </div>

    <div id="services" class="section-cotent">
        <div class="container">
            <div class="title-section text-center">
                <h2>Our Facilities</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-trophy"></i>
                            <h3>Indoor & Outdoor Activities</h3>
                        </div>
                        <div class="service-description">
                            The club has a swimming pool, a fully equipped health club with an open ground for promoting outdoor sports like cricket, football, basket ball etc. and has facilities for indoor games like badminton,table tennis, chess, carroms etc.
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-cutlery"></i>
                            <h3>Multi-cuisine Cafeteria</h3>
                        </div>
                        <div class="service-description">
                            Everyone at the club is a die-hard foodie and knows how to enjoy a good meal either alone or with their friends and loved ones. This is a place that has always been a crowd-puller for it’s lovely ambiance and dishes.
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-heart"></i>
                            <h3>Recreation</h3>
                        </div>
                        <br>
                        <div class="service-description">
                            With 17 deluxe rooms and 1 suite available, this is one club that sure makes you feel royal.Our club has got a separate kidzone . You can also grab a book in your hand at the Sport Club Library and watch how time just flies.
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-hospital-o"></i>
                            <h3>Medical Cell</h3>
                        </div>
                        <br>
                        <div class="service-description">
                            With so many members playing a sport all the time, chances of them getting hurt and injured are high. But worry not, our emergency and medical services are known to get people back to normal in no time.
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#services -->

    <div id="portfolio" class="section-content">
        <div class="container">
            <div class="title-section text-center">
                <h2>Club Gallery</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio/item1.jpeg" alt="Portfolio Item 1">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="images/portfolio/item1.jpg">Gym Area</a></h4>
                                <span>Indoor</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio/item2.jpeg" alt="Portfolio Item 2">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="images/portfolio/item2.jpg">Library</a></h4>
                                <span>Indoor</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio/item6.jpeg" alt="Portfolio Item 3">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="images/portfolio/item6.jpg">Table Tennis Court</a></h4>
                                <span>Indoor</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio/item8.jpeg" alt="Portfolio Item 4">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="images/portfolio/item8.jpg">Aerobics</a></h4>
                                <span>Indoor</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio/item5.jpeg" alt="Portfolio Item 5">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="images/portfolio/item5.jpg">Basketball Court</a></h4>
                                <span>Outdoor</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio/item3.jpeg" alt="Portfolio Item 6">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="images/portfolio/item3.jpg">Cricket Ground</a></h4>
                                <span>Outdoor</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio/item7.jpeg" alt="Portfolio Item 7">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="images/portfolio/item7.jpg">Carrom</a></h4>
                                <span>Indoor</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="images/portfolio/item4.jpeg" alt="Portfolio Item 8">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a data-rel="lightbox" href="images/portfolio/item4.jpg">Football Ground</a></h4>
                                <span>Outdoor</span>
                            </div>
                        </div> <!-- /.overlay -->
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#portfolio -->

    <div id="about" class="section-cotent">
        <div class="container">
            <div class="title-section text-center">
                <h2>About Us</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="col-md-8">
                    <h4 class="widget-title">Another Golden Feather in the Cap!</h4>
                    <p>With the increase in materialism and the need for excellence, the people around the world now look forward to world-class products, services, facilities, and hospitality. Rapidly changing lifestyles, particularly in the metros, have increased the consciousness about health, mental peace, and spirituality amongst the urban population.<br><br> Traditionally, our country has been a pioneer in the areas of health and hospitality & this tradition is very well blended with the western concept of materialism at our SPORT Club. Our club has also facilitated 18 AC Guest Rooms, 3 Banquet halls for conferences, Veg Restaurant/Sports Bar has added charm to the crowning glory of the club.</p>
                </div> <!-- /.col-md-3 -->
                <div class="col-md-4 our-skills">
                    <h4 class="widget-title">Outreach</h4>
                    <ul class="progess-bars">
                        <li>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">Yearly Members 90%</div>
                            </div>
                        </li>
                        <li>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">Corporate Members 75%</div>
                            </div>
                        </li>
                        <li>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">Life Members 60%</div>
                            </div>
                        </li>
                        <li>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">Ward Members 85%</div>
                            </div>
                        </li>
                    </ul>
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="our-team">
                    <div class="col-md-4 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="images/team/member-1.jpg" alt="founder">
                                <div class="overlay">
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/sundar.pichai/?hl=en" class="fa fa-facebook"></a></li>
                                        <li><a href="https://twitter.com/sundarpichai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a></li>
                                        <li><a href="https://www.instagram.com/sundarpichai/?hl=en" class="fa fa-instagram"></a></li>
                                    </ul>
                                </div> <!-- /.overlay -->
                            </div>
                            <div class="inner-content">
                                <h5>Modak Gupta</h5>
                                <span>Founder</span>
                                <p>He has always believed that “People Come First” and has always taken care of his teammate's thoughts.</p>
                            </div>
                        </div> <!-- /.team-member -->
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="images/team/member-2.jpg" alt="President">
                                <div class="overlay">
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/sundar.pichai/?hl=en" class="fa fa-facebook"></a></li>
                                        <li><a  href="https://twitter.com/sundarpichai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a></li>
                                        <li><a href="https://www.instagram.com/sundarpichai/?hl=en" class="fa fa-instagram"></a></li>
                                    </ul>
                                </div> <!-- /.overlay -->
                            </div>
                            <div class="inner-content">
                                <h5>Pradeep Jain</h5>
                                <span>President</span>
                                <p>He is not only a successful leader he is also an “innovative and critical thinker”.</p>
                            </div>
                        </div> <!-- /.team-member -->
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="images/team/member-3.jpg" alt="chairperson">
                                <div class="overlay">
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/sundar.pichai/?hl=en"  class="fa fa-facebook"></a></li>
                                        <li><a  href="https://twitter.com/sundarpichai?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a></li>
                                        <li><a href="https://www.instagram.com/sundarpichai/?hl=en" class="fa fa-instagram"></a></li>
                                    </ul>
                                </div> <!-- /.overlay -->
                            </div>
                            <div class="inner-content">
                                <h5>Raj Thakkar</h5>
                                <span>Chairperson</span>
                                <p>He is an inclusive leader or rather a team player that believes in empowering people.</p>
                            </div>
                        </div> <!-- /.team-member -->
                    </div> <!-- /.col-md-4 -->
                </div> <!-- /.our-team -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#about -->

    <div id="contact" class="section-cotent">
        <div class="container">
            <div class="title-section text-center">
                <h2>Contact Us</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h4 class="widget-title">We'd love to hear from you!</h4>
                    <p>Whether u have a question about our club timings,pricing or anything else,
                         our team is ready to help you out.</p>
                    <br>
                    <div class="mainBtn">
                        <a href="/contact" >GET IN TOUCH</a>
                    </div>
                    <br><br>
                    <img src="images/ico/logo.png" width="90%">
                    
                </div> <!-- /.col-md-4 -->
                <div class="col-md-8 col-sm-8">
                    <h4 class="widget-title">Our location</h4>
                    <div class="map-holder"><div class="gmap_canvas google-map-canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=704&amp;height=250&amp;hl=en&amp;q=mukesh patel school of&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
                    <style>.mapouter{position:relative;text-align:right;width:100%;height:250px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:250px;}.gmap_iframe {height:250px!important;}</style></div>
                    <div class="contact-info">
                        <p>Spreading a lot of smiles and happy faces at our club, find us at this location!</p>
                        <span><i class="fa fa-home"></i>Toyota Showroom, Link Road, Malad West, Mumbai - 400064</span>
                        <span><i class="fa fa-phone"></i>080-080-0990</span>
                        <span><i class="fa fa-envelope"></i>info@sportclub.com</span>
                    </div>
                </div> <!-- /.col-md-8 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#contact -->

    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <p>Copyright &copy; 2084 SPORT CLUB</p>
                </div> <!-- /.col-md-6 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="go-top">
                        <a href="#" id="go-top">
                            <i class="fa fa-angle-up"></i>
                            Back to Top
                        </a>
                    </div>
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/jquery.lightbox.js"></script>
    <script src="js/custom.js"></script>
    

</body>
</html>