<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Indoor Games</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="contact/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="contact/assets/css/font-awesome.css">

    <link rel="stylesheet" href="contact/assets/css/templatemo-breezed.css">

    <link rel="stylesheet" href="contact/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="contact/assets/css/lightbox.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    


    <!-- ***** Projects Area Starts ***** -->
    <section class="section" id="projects">
      <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h6>Indoor Games</h6>
                    <h2>Some of our indoor games</h2>
                </div>
                <div class="filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".c">Carrom</li>
                        <li data-filter=".tt">Table Tennis</li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all c">
                          <div class="item">
                            <a href="contact/assets/images/carrom1.jpeg" data-lightbox="image-1" data-title="Our Projects"><img src="contact/assets/images/carrom1.jpeg" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all c">
                          <div class="item">
                            <a href="contact/assets/images/carrrom2.jpeg" data-lightbox="image-1" data-title="Our Projects"><img src="contact/assets/images/carrrom2.jpeg" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all tt">
                          <div class="item">
                            <a href="contact/assets/images/tt1.jpeg" data-lightbox="image-1" data-title="Our Projects"><img src="contact/assets/images/tt1.jpeg" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all tt">
                          <div class="item">
                            <a href="contact/assets/images/tt2.jpeg" data-lightbox="image-1" data-title="Our Projects"><img src="contact/assets/images/tt2.jpeg" alt=""></a>
                          </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <fieldset>
                      <a href="/book" ><button type="submit" class="main-button-icon" >Book your slot<i class="fa fa-arrow-right"></i></button></a>
                    </fieldset>
                </div> 
            </div>
             
            <br>
            <br>
        
    </section>
    <br>
    <!-- ***** Projects Area Ends ***** -->

   
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2084 SPORT CLUB </p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Follow Us</p></li>
                                <li><a rel="nofollow" href="https://www.facebook.com/mpstme/?hl=en"><i class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" href="https://twitter.com/nmims_mpstme?lang=en"><i class="fa fa-twitter"></i></a></li>
                                <li><a rel="nofollow" href="https://www.instagram.com/mpstme/?hl=en"><i class="fa fa-instagram"></i></a></li>
                                <li><a rel="nofollow" href="https://g.co/kgs/PYVx5d"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="contact/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="contact/assets/js/popper.js"></script>
    <script src="contact/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="contact/assets/js/owl-carousel.js"></script>
    <script src="contact/assets/js/scrollreveal.min.js"></script>
    <script src="contact/assets/js/waypoints.min.js"></script>
    <script src="contact/assets/js/jquery.counterup.min.js"></script>
    <script src="contact/assets/js/imgfix.min.js"></script> 
    <script src="contact/assets/js/slick.js"></script> 
    <script src="contact/assets/js/lightbox.js"></script> 
    <script src="contact/assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="contact/assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>